<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/filter-button') %>
    <%- include('./partials/header') %>

  <div class="main-layout">
    
    <%- include('./partials/filter-form') %>
      <main class="content-area">

    <%- include('./partials/stats') %>
    <%- include('./partials/article') %>
    <%- include('./partials/pagination') %>
      </main>

  </div>
    <%- include('./scripts') %>
  </body>
</html>
